[user]
	email = ghifari@ghifari160.com
	name = GHIFARI160
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	graph = log --all --decorate --oneline --graph
[core]
	editor = code --wait
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = main
